{% extends 'layouts/adminlte/main.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
	{% trans_default_domain 'FOSUserBundle' %}
	<!-- form start -->
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

{% endblock body %}
